<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Event</th>
      <th>Type</th>
      <th>Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.event_id %></td>
        <td><%= assignment.type_id %></td>
        <td><%= assignment.date %></td>
        <td><%= assignment.location_id %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
